<div class="container-fluid">
  <app-page-title [title]="titleBreadCrumb" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex flex-wrap align-items-center gap-2">
            <h5 class="mb-0 card-title flex-grow-1">Listado</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Agregar nuevo</a>
              <a href="javascript:void(0);" (click)="listDataApi(true);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <h4 class="card-title">Lista de promociones</h4>
          <p class="card-sub-title">
            Promociones registrados hasta el momento
          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                class="d-inline-flex align-items-center">Mostrar
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                  [(ngModel)]="perPage" class="form-control form-control-sm mx-2" (change)="apiPromotionListPagination()">
                  <option *ngFor="let count of countElements;" [ngValue]="count">{{count}}</option>
                </select> registros</label>
              </div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="search" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="search" (input)="apiPromotionListPagination()"></label>
              </div>
            </div>
            <!-- End search -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Tipo de servicio</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Código</th>
                  <th scope="col">Fecha inicio</th>
                  <th scope="col">Fecha final</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha creado</th>
                  <th scope="col">Fecha modificado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{data.tipo_servicios_nombre}}</td>
                  <td>{{data.nombre}}</td>
                  <td>{{data.descripcion}}</td>
                  <td>{{data.codigo}}</td>
                  <td>{{data.fecha_inicio}}</td>
                  <td>{{data.fecha_fin}}</td>
                  <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
                  <td>{{data.created_at}}</td>
                  <td>{{data.updated_at}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="!lists.length"><td colspan="11" class="text-center">Sin registros.</td></tr>
              </tbody>
            </table>
          </div>

          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Mostrando de 
                <b>{{pagination.from}}</b> al
                <b>{{pagination.to}}</b> de <b>{{pagination.total}}</b>
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-6">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination previousText="Anterior" nextText="Siguiente"  [totalItems]="total" [(ngModel)]="page" [itemsPerPage]="perPage" (pageChanged)="getPage($event)"></pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="promotionForm" autocomplete="off">
    <div class="modal-body">
      <input type="hidden" name="id" value="" formControlName="id" />
      <div class="row g-2">
        <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.product_type.label' | translate as translatedLabel;">
          <label for="is_info_producto" class="form-label w-100">{{translatedLabel}}</label>
          <ui-switch id="is_info_producto" name="is_info_producto" color="#556ee6" [(ngModel)]="isInfoProduct" (change)="onChangeTypeProduct($event)" formControlName="is_info_producto" uncheckedLabel="Producto" checkedLabel="Servicio" size="small" class="me-1 w-100"></ui-switch>
        </div>
        <div class="col-md-8 mb-3" *ngIf="isInfoProduct && 'FORMS.FIELD_NAMES.type_service.label' | translate as translatedLabel;">
          <label for="tipo_servicios_id" class="form-label">{{translatedLabel}} *</label>
          <ng-select id="tipo_servicios_id" formControlName="tipo_servicios_id" [ngClass]="{ 'is-invalid': form.tipo_servicios_id.errors && (form.tipo_servicios_id.dirty || form.tipo_servicios_id.touched || submitted) }">
            <ng-option [value]="''">{{'FORMS.FIELD_NAMES.category.default_option' | translate}}</ng-option>
            <ng-option *ngFor="let service of listServices" [value]="service.id">{{service.nombre}}</ng-option>
          </ng-select>
          <div *ngIf="form.tipo_servicios_id.errors && (form.tipo_servicios_id.dirty || form.tipo_servicios_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.tipo_servicios_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.tipo_servicios_id.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.tipo_servicios_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.brand.label' | translate as translatedLabel;">
        <label for="marcas_id" class="form-label">{{translatedLabel}}</label>
        <ng-select id="marcas_id" formControlName="marcas_id" [ngClass]="{ 'is-invalid': form.marcas_id.errors && (form.marcas_id.dirty || form.marcas_id.touched || submitted) }">
          <ng-option [value]="''">{{'FORMS.FIELD_NAMES.brand.default_option' | translate}}</ng-option>
          <ng-option *ngFor="let brand of listBrands" [value]="brand.id">{{brand.nombre}}</ng-option>
        </ng-select>
        <div *ngIf="form.marcas_id.errors && (form.marcas_id.dirty || form.marcas_id.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form.marcas_id.errors.required">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
          <div *ngIf="form.marcas_id.errors.min">
            {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.marcas_id.errors.min.requiredLength}}
          </div>
        </div>
      </div>
     
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.name.label' | translate as translatedLabel;">
        <label for="nombre" class="form-label">{{translatedLabel}} *</label>
        <input type="text" id="nombre" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.name.placeholder' | translate}}" formControlName="nombre" [ngClass]="{ 'is-invalid': form['nombre'].errors && (form.nombre.dirty || form.nombre.touched || submitted) }" />
        <div *ngIf="form['nombre'].errors && (form.nombre.dirty || form.nombre.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['nombre'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.description.label' | translate as translatedLabel;">
        <label for="descripcion" class="form-label">{{translatedLabel}}</label>
        <textarea id="descripcion" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.description.placeholder' | translate}}" formControlName="descripcion" [ngClass]="{ 'is-invalid': form['descripcion'].errors && (form.descripcion.dirty || form.descripcion.touched || submitted)}"></textarea>
        <div *ngIf="form.descripcion.errors && (form.descripcion.dirty || form.descripcion.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['descripcion'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.is_private.label' | translate as translatedLabel;">
        <label for="is_private" class="form-label w-100">{{translatedLabel}}</label>
        <ui-switch id="is_private" name="is_private" color="#556ee6" formControlName="is_private" uncheckedLabel="No" checkedLabel="Si" size="small" class="me-1 w-100"></ui-switch>
      </div>

      <div class="row g-2">
        <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.show_discount.label' | translate as translatedLabel;">
          <label for="show_discount" class="form-label w-100">¿{{translatedLabel}}?</label>
          <ui-switch id="show_discount" name="show_discount" color="#556ee6" [(ngModel)]="showDiscount" formControlName="show_discount" uncheckedLabel="No" checkedLabel="Si" size="small" class="me-1 w-100"></ui-switch>
        </div>
        <div class="col-lg mb-3" [ngClass]="{'col-lg-8': showDiscount}" *ngIf="showDiscount && 'FORMS.FIELD_NAMES.type_discount.label' | translate as translatedLabel;">
          <label for="tipo_descuento" class="form-label">{{translatedLabel}}</label>
          <select class="form-select custom-select" id="tipo_descuento" (change)="onChangeTypeDiscount($event.target.value)" formControlName="tipo_descuento" [ngClass]="{ 'is-invalid': form.tipo_descuento.errors && (form.tipo_descuento.dirty || form.tipo_descuento.touched || submitted) }">
            <option value="">{{'FORMS.FIELD_NAMES.type_discount.default_option' | translate}}</option>
            <option value="C">Cantidad</option>
            <option value="P">Porcentual</option>
          </select>
          <div *ngIf="form.tipo_descuento.errors && (form.tipo_descuento.dirty || form.tipo_descuento.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.tipo_descuento.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.tipo_descuento.errors.min">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': form.tipo_descuento.errors.min.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg mb-3" *ngIf="promotionForm.get('tipo_descuento').value == 'C' && showDiscount && 'FORMS.FIELD_NAMES.type_currency.label' | translate as translatedLabel;">
          <label for="tipo_monedas_id" class="form-label">{{translatedLabel}} *</label>
          <ng-select id="tipo_monedas_id" formControlName="tipo_monedas_id" [ngClass]="{ 'is-invalid': form.tipo_monedas_id.errors && (form.tipo_monedas_id.dirty || form.tipo_monedas_id.touched || submitted) }">
            <ng-option [value]="''">{{'FORMS.FIELD_NAMES.type_currency.default_option' | translate}}</ng-option>
            <ng-option *ngFor="let currency of listCurrencies" [value]="currency.id">{{currency.nombre}}</ng-option>
          </ng-select>
          <div *ngIf="form.tipo_monedas_id.errors && (form.tipo_monedas_id.dirty || form.tipo_monedas_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.tipo_monedas_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.tipo_monedas_id.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.tipo_monedas_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg mb-3" *ngIf="showDiscount && 'FORMS.FIELD_NAMES.discount.label' | translate as translatedLabel;">
          <label for="descuento" class="form-label">{{translatedLabel}}</label>
          <input type="text" id="descuento" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.discount.placeholder' | translate}}" formControlName="descuento" [ngClass]="{ 'is-invalid': form.descuento.errors && (form.descuento.dirty || form.descuento.touched || submitted) }" />
          <div *ngIf="form.descuento.errors && (form.descuento.dirty || form.descuento.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.descuento.errors['required']">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.descuento.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.descuento.errors.min.requiredLength}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.show_code_min_max.label' | translate as translatedLabel;">
          <label for="show_code_min_max" class="form-label w-100">¿{{translatedLabel}}?</label>
          <ui-switch id="show_code_min_max" name="show_code_min_max" color="#556ee6" [(ngModel)]="showCodeMinMax" formControlName="show_code_min_max" uncheckedLabel="No" checkedLabel="Si" size="small" class="me-1 w-100"></ui-switch>
        </div>
        <div class="col-md-4 mb-3" *ngIf="showCodeMinMax && 'FORMS.FIELD_NAMES.code.label' | translate as translatedLabel;">
          <label for="codigo" class="form-label">{{translatedLabel}}</label>
          <input type="text" id="codigo" class="form-control" maxlength="15" placeholder="{{'FORMS.FIELD_NAMES.code.placeholder' | translate}}" formControlName="codigo" [ngClass]="{ 'is-invalid': form.codigo.errors && (form.codigo.dirty || form.codigo.touched || submitted) }" />
          <div *ngIf="form.codigo.errors && (form.codigo.dirty || form.codigo.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.codigo.errors['required']">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3" *ngIf="showCodeMinMax && 'FORMS.FIELD_NAMES.count_min.label' | translate as translatedLabel;">
          <label for="cantidad_minima" class="form-label">{{translatedLabel}}</label>
          <input type="text" id="cantidad_minima" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.count_min.placeholder' | translate}}" formControlName="cantidad_minima" [ngClass]="{ 'is-invalid': form.cantidad_minima.errors && (form.cantidad_minima.dirty || form.cantidad_minima.touched || submitted) }" />
          <div *ngIf="form.cantidad_minima.errors && (form.cantidad_minima.dirty || form.cantidad_minima.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.cantidad_minima.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg mb-3" *ngIf="showCodeMinMax && 'FORMS.FIELD_NAMES.count_max.label' | translate as translatedLabel;">
          <label for="cantidad_maxima" class="form-label">{{translatedLabel}}</label>
          <input type="text" id="cantidad_maxima" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.count_max.placeholder' | translate}}" formControlName="cantidad_maxima" [ngClass]="{ 'is-invalid': form.cantidad_maxima.errors && (form.cantidad_maxima.dirty || form.cantidad_maxima.touched || submitted) }" />
          <div *ngIf="form.cantidad_maxima.errors && (form.cantidad_maxima.dirty || form.cantidad_maxima.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.cantidad_maxima.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md mb-3" *ngIf="'FORMS.FIELD_NAMES.show_dates.label' | translate as translatedLabel;">
          <label for="show_dates" class="form-label w-100">¿{{translatedLabel}}?</label>
          <ui-switch id="show_dates" name="show_dates" color="#556ee6" [(ngModel)]="showDates" formControlName="show_dates" uncheckedLabel="No" checkedLabel="Si" size="small" class="me-1 w-100"></ui-switch>
        </div>
        <div class="col-md-4 mb-3" *ngIf="showDates && 'FORMS.FIELD_NAMES.first_date.label' | translate as translatedLabel;">
          <label for="fecha_inicio" class="form-label">{{translatedLabel}} *</label>
          <input type="date" id="fecha_inicio" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.first_date.placeholder' | translate}}" formControlName="fecha_inicio" [ngClass]="{ 'is-invalid': form.fecha_inicio.errors && (form.fecha_inicio.dirty || form.fecha_inicio.touched || submitted) }" />
          <div *ngIf="form.fecha_inicio.errors && (form.fecha_inicio.dirty || form.fecha_inicio.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.fecha_inicio.errors['required']">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3" *ngIf="showDates && 'FORMS.FIELD_NAMES.last_date.label' | translate as translatedLabel;">
          <label for="fecha_fin" class="form-label">{{translatedLabel}}</label>
          <input type="date" id="fecha_fin" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.last_date.placeholder' | translate}}" formControlName="fecha_fin" [ngClass]="{ 'is-invalid': form.fecha_fin.errors && (form.fecha_fin.dirty || form.fecha_fin.touched || submitted) }" />
          <div *ngIf="form.fecha_fin.errors && (form.fecha_fin.dirty || form.fecha_fin.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.fecha_fin.errors['required']">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' | translate}}</button>
        <button type="button" class="btn btn-success"  *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' | translate}}</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->