<div *ngIf="typeService?.includes('mobile')">
  <app-form-mobile #mobileForm [submitted]="submitted" [listOperators]="listOperators"></app-form-mobile>
</div>

<div *ngIf="typeService?.includes('fixed')">
  <app-form-fixed></app-form-fixed>
</div>

<form (keydown.enter)="$event.preventDefault()" [formGroup]="saleDetailForm" autocomplete="off">
  <div class="row g-2">
    <!-- <div class="col-md-3 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_status.label' | translate as translatedLabel;">
      <label for="tipo_estados_id" class="form-label">{{translatedLabel}}</label>  
      <ng-select id="tipo_estados_id" formControlName="tipo_estados_id" [ngClass]="{ 'is-invalid': f.tipo_estados_id.errors && (f.tipo_estados_id.dirty || f.tipo_estados_id.touched || submitted) }">
        <ng-option [value]="''">{{'FORMS.FIELD_NAMES.operator_donor.default_option' | translate}}</ng-option>
        <ng-option *ngFor="let typeStatus of listTypeStatus" [value]="typeStatus.id">{{typeStatus.nombre}}</ng-option>
      </ng-select>      
      <div *ngIf="f.tipo_estados_id.errors && (f.tipo_estados_id.dirty || f.tipo_estados_id.touched || submitted)" class="invalid-feedback" align="left">
        <div *ngIf="f.tipo_estados_id.errors.required">
          {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
        </div>
        <div *ngIf="f.tipo_estados_id.errors.minlength">
          {{ 'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.tipo_estados_id.errors.minlength.requiredLength}}
        </div>
        <div *ngIf="f.tipo_estados_id.errors.maxlength">
          {{ 'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.tipo_estados_id.errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3" *ngIf="'FORMS.FIELD_NAMES.close_date.label' | translate as translatedLabel;">
      <label for="fecha_cierre" class="form-label">{{translatedLabel}}</label>
      <input type="date" id="fecha_cierre" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.close_date.placeholder' | translate}}" formControlName="fecha_cierre" [ngClass]="{ 'is-invalid': f.fecha_cierre.errors && (f.fecha_cierre.dirty || f.fecha_cierre.touched || submitted) }" />
      <div *ngIf="f.fecha_cierre.errors && (f.fecha_cierre.dirty || f.fecha_cierre.touched || submitted)" class="invalid-feedback" align="left">
        <div *ngIf="f.fecha_cierre.errors.required">
          {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
        </div>
        <div *ngIf="f.fecha_cierre.errors.minlength">
          {{ 'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.fecha_cierre.errors.minlength.requiredLength}}
        </div>
        <div *ngIf="f.fecha_cierre.errors.maxlength">
          {{ 'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.fecha_cierre.errors.maxlength.requiredLength}}
        </div>
      </div>
    </div> -->
    <div class="col-md-12 mb-3" *ngIf="'FORMS.FIELD_NAMES.observation.label' | translate as translatedLabel;">
      <label for="observacion" class="form-label">{{translatedLabel}}</label>
      <textarea  id="observacion" cols="30" rows="1" formControlName="observacion" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.observation.placeholder' | translate}}" [ngClass]="{ 'is-invalid': f.observacion.errors && (f.observacion.dirty || f.observacion.touched || submitted) }" ></textarea>
      <div *ngIf="f.observacion.errors && (f.observacion.dirty || f.observacion.touched || submitted)" class="invalid-feedback" align="left">
        <div *ngIf="f.observacion.errors.required">
          {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
        </div>
        <div *ngIf="f.observacion.errors.minlength">
          {{ 'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.observacion.errors.minlength.requiredLength}}
        </div>
        <div *ngIf="f.observacion.errors.maxlength">
          {{ 'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.observacion.errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-2 mb-3" *ngIf="'FORMS.FIELD_NAMES.different_address.label' | translate as translatedLabel;">
      <label for="is_other_address" class="form-label w-100">¿{{translatedLabel}}?</label>
      <ui-switch id="is_other_address" name="is_other_address" color="#556ee6" formControlName="is_other_address" uncheckedLabel="No" checkedLabel="Si" size="small" class="me-1 w-100"></ui-switch>
    </div>
    <div class="col-lg-10 mb-3" *ngIf="saleDetailForm.get('is_other_address').value && 'FORMS.FIELD_NAMES.direction.label' | translate as translatedLabel;">
      <label for="instalaciones_id" class="form-label">{{translatedLabel}}</label>
      <div class="input-group">
        <ng-select 
          class="w-auto flex-grow-1"
          [items]="tmpListInstallationOptions"
          [bindValue]="'id'"
          [bindLabel]="'direccion_completo'"
          [multiple]="false"
          [notFoundText]="'No se encontraron elementos'"
          formControlName="instalaciones_id"
          (search)="apiTempInstallationSearch($event.term)">
        </ng-select>
        <button type="button" class="btn btn-primary"><i class="mdi mdi-plus me-1"></i> {{'FORMS.BUTTONS.ADD' | translate}}</button>
      </div>
      
    </div>
  </div>
</form>

<div class="d-flex flex-row flex-wrap gap-2 justify-content-end">
  <button type="button" class="btn btn-light" (click)="onCancel()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
  <button type="button" class="btn btn-success" *ngIf="isNewData" (click)="onSubmit()">{{'FORMS.BUTTONS.REGISTER' | translate}}</button>
  <button type="button" class="btn btn-info"  *ngIf="!isNewData" (click)="onSubmit()">{{'FORMS.BUTTONS.UPDATE' | translate}}</button>
</div>