<div class="card shadow-sm border border-primary">
  <div class="card-body border-bottom">
    <div class="d-flex flex-row flex-wrap justify-content-between align-items-start">
      <div class="">
        <h4 class="card-title text-primary">Documentos de la venta</h4>
        <!-- <p class="card-sub-title">
          Archivos cargados a la venta
        </p> -->
      </div>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-md btn-primary" (click)="toggleForm()" [ngClass]="{'btn-success': isCollapseForm, 'btn-primary': !isCollapseForm}">
          <i class="mdi" [ngClass]="{'mdi-clipboard-edit': isCollapseForm, 'mdi-format-list-bulleted-square': !isCollapseForm}"></i>
          {{isCollapseForm? ('FORMS.BUTTONS.FORM' | translate): 'FORMS.BUTTONS.LIST' | translate}}
        </button>
      </div>
    </div>
  </div>
  
  <div class="card-body border-bottom border-primary" [collapse]="isCollapseForm" [isAnimated]="true">
    <app-form-sale-document [data]="dataFormDocument" (submit)="onSubmit($event)" (cancel)="onCancel($event)"></app-form-sale-document>
  </div>
  <div class="card-body"  [collapse]="isCollapseList" [isAnimated]="true">
    <div class="table-responsive">
      <table class="table align-middle dt-responsive nowrap w-100 table-check">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nombre</th>
            <th scope="col">Archivo</th>
            <th scope="col">Estado</th>
            <th scope="col" style="width: 5%;">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listSaleDocuments; let i = index" >
            <th scope="row">{{i + 1}}</th>
            <td>{{data.nombre}}</td>
            <td><a [href]="'http://localhost:8000/files/sale/' + data.archivo" target="_blank">Ver archivo</a></td>
            <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
            <td >
              <ul class="list-unstyled hstack gap-1 mb-0">
                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                  <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="getDataRow(data)"><i class="mdi mdi-pencil-outline"></i></a>
                </li>
                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                  <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="!listSaleDocuments.length">
            <td colspan="7" class="text-center">Sin registros.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>