<div class="container-fluid">
  <app-page-title [title]="titleBreadCrumb" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex flex-wrap align-items-center gap-2">
            <h5 class="mb-0 card-title flex-grow-1">Listado</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Agregar nuevo</a>
              <a href="javascript:void(0);" (click)="getPageRefresh();" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <h4 class="card-title">Lista de usuarios</h4>
          <p class="card-sub-title">
            Usuarios registros hasta el momento
          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                class="d-inline-flex align-items-center">Mostrar
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                  [(ngModel)]="perPage" class="form-control form-control-sm mx-2" (change)="apiUserListPagination()">
                  <option *ngFor="let count of countElements;" [ngValue]="count">{{count}}</option>
                </select> elementos</label>
              </div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="search" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="search" (input)="apiUserListPagination()"></label>
              </div>
            </div>
            <!-- End search -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellido paterno</th>
                  <th scope="col">Apellido materno</th>
                  <th scope="col">Tipo Doc.</th>
                  <th scope="col">N° Doc.</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Tipo de usuario</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha creado</th>
                  <th scope="col">Fecha modificado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index">
                  <th scope="row">{{data.index}}</th>
                  <td>{{data.nombres}}</td>
                  <td>{{data.apellido_paterno}}</td>
                  <td>{{data.apellido_materno}}</td>
                  <td>{{data.tipo_documentos_abreviacion}}</td>
                  <td>{{data.documento}}</td>
                  <td>{{data.nombre_usuario}}</td>
                  <td>{{data.tipo_usuarios_nombre}}</td>
                  <!-- <td><span class="badge text-md bg-info">{{data.nombre_tipo_usuario}}</span></td> -->
                  <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
                  <td>{{data.created_at}}</td>
                  <td>{{data.updated_at}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="!lists.length"><td colspan="12" class="text-center">Sin registros.</td></tr>
              </tbody>
            </table>
          </div>

          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Mostrando de 
                <b>{{pagination.from}}</b> al
                <b>{{pagination.to}}</b> de <b>{{pagination.total}}</b>
                elementos
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-6">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination previousText="Anterior" nextText="Siguiente"  [totalItems]="total" [(ngModel)]="page" [itemsPerPage]="perPage" (pageChanged)="getPage($event)"></pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="userForm" autocomplete="off">
    <div class="modal-body">
      <!-- <input type="hidden" name="id" value="" formControlName="id" /> -->
      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.country.label' | translate as translatedLabel;">
          <label for="paises_id" class="form-label">{{translatedLabel}} *</label>
          <select class="form-select custom-select" id="paises_id" formControlName="paises_id" [ngClass]="{ 'is-invalid': f.paises_id.errors && (f.paises_id.dirty || f.paises_id.touched || submitted) }">
            <option value="">{{'FORMS.FIELD_NAMES.country.default_option' | translate}}</option>
            <option *ngFor="let country of listCountries" [value]="country.id">{{country.nombre}}</option>
          </select>
          <div *ngIf="f.paises_id.errors && (f.paises_id.dirty || f.paises_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.paises_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.paises_id.errors.min">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.paises_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.names.label' | translate as translatedLabel;">
          <label for="nombres" class="form-label">{{translatedLabel}} *</label>
          <input type="text" id="nombres" class="form-control" focus="true" placeholder="{{'FORMS.FIELD_NAMES.names.placeholder' | translate}}" formControlName="nombres" [ngClass]="{ 'is-invalid': f.nombres.errors && (f.nombres.dirty || f.nombres.touched || submitted) }" />
          <div *ngIf="f.nombres.errors && (f.nombres.dirty || f.nombres.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.nombres.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.father_last_name.label' | translate as translatedLabel;">
          <label for="apellido_paterno" class="form-label">{{translatedLabel}} *</label>
          <input type="text" id="apellido_paterno" class="form-control"  placeholder="{{'FORMS.FIELD_NAMES.father_last_name.placeholder' | translate}}" formControlName="apellido_paterno" [ngClass]="{ 'is-invalid': f.apellido_paterno.errors && (f.apellido_paterno.dirty || f.apellido_paterno.touched || submitted) }" />
          <div *ngIf="f.apellido_paterno.errors && (f.apellido_paterno.dirty || f.apellido_paterno.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.apellido_paterno.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.apellido_paterno.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.apellido_paterno.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.apellido_paterno.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.apellido_paterno.errors.minlength.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.mother_last_name.label' | translate as translatedLabel;">
          <label for="apellido_materno" class="form-label">{{translatedLabel}} *</label>
          <input type="text" id="apellido_materno" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.mother_last_name.placeholder' | translate}}" formControlName="apellido_materno" [ngClass]="{ 'is-invalid': f.apellido_materno.errors && (f.apellido_materno.dirty || f.apellido_materno.touched || submitted) }" />
          <div *ngIf="f.apellido_materno.errors && (f.apellido_materno.dirty || f.apellido_materno.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.apellido_materno.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.apellido_materno.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.apellido_materno.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.apellido_materno.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.apellido_materno.errors.minlength.requiredLength}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-7 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_document.label' | translate as translatedLabel;">
          <label for="tipo_documentos_id" class="form-label">{{translatedLabel}} *</label>
          <select class="form-select custom-select" id="tipo_documentos_id" formControlName="tipo_documentos_id" [ngClass]="{ 'is-invalid': f.tipo_documentos_id.errors && (f.tipo_documentos_id.dirty || f.tipo_documentos_id.touched || submitted) }">
            <option value="">{{'FORMS.FIELD_NAMES.type_document.default_option' | translate}}</option>
            <option *ngFor="let typeDocument of listDocuments" [value]="typeDocument.id">{{typeDocument.abreviacion}}</option>
          </select>

          <!-- <input type="text" id="apellido_materno" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.type_document.placeholder' | translate}}" formControlName="apellido_materno" [ngClass]="{ 'is-invalid': f.apellido_materno.errors && (f.apellido_materno.dirty || f.apellido_materno.touched || submitted) }" /> -->
          <div *ngIf="f.tipo_documentos_id.errors && (f.tipo_documentos_id.dirty || f.tipo_documentos_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.tipo_documentos_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-3" *ngIf="'FORMS.FIELD_NAMES.document.label' | translate as translatedLabel;">
          <label for="documento" class="form-label">{{translatedLabel}} *</label>
          <input type="text" maxlength="11" id="documento" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.document.placeholder' | translate}}" formControlName="documento" [ngClass]="{ 'is-invalid': f.documento.errors && (f.documento.dirty || f.documento.touched || submitted) }" />
          <div *ngIf="f.documento.errors && (f.documento.dirty || f.documento.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.documento.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.documento.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.documento.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.documento.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.documento.errors.minlength.requiredLength}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_user.label' | translate as translatedLabel;">
          <label for="tipo_usuarios_id" class="form-label">{{translatedLabel}} *</label>
          <select class="form-select custom-select" id="tipo_usuarios_id" formControlName="tipo_usuarios_id" [ngClass]="{ 'is-invalid': f.tipo_usuarios_id.errors && (f.tipo_usuarios_id.dirty || f.tipo_usuarios_id.touched || submitted) }">
            <option value="">{{'FORMS.FIELD_NAMES.type_user.default_option' | translate}}</option>
            <option *ngFor="let typeUser of listTypeUsers" [value]="typeUser.id">{{typeUser.nombre}}</option>
          </select>
          <div *ngIf="f.tipo_usuarios_id.errors && (f.tipo_usuarios_id.dirty || f.tipo_usuarios_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.tipo_usuarios_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.user_name.label' | translate as translatedLabel;">
          <label for="nombre_usuario" class="form-label">{{translatedLabel}} *</label>
          <input type="text" maxlength="15" id="nombre_usuario" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.user_name.placeholder' | translate}}" formControlName="nombre_usuario" [ngClass]="{ 'is-invalid': f.nombre_usuario.errors && (f.nombre_usuario.dirty || f.nombre_usuario.touched || submitted) }" />
          <div *ngIf="f.nombre_usuario.errors && (f.nombre_usuario.dirty || f.nombre_usuario.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.nombre_usuario.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.nombre_usuario.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.nombre_usuario.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.nombre_usuario.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.nombre_usuario.errors.minlength.requiredLength}}
            </div>
            <div *ngIf="f.nombre_usuario.errors.pattern">
              {{'FORMS.VALIDATION.pattern' | translate | replaceAttribute: ':attribute': translatedLabel}}
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.password.label' | translate as translatedLabel;">
          <label for="clave" class="form-label">{{translatedLabel}} *</label>
          <input type="password" id="clave" maxlength="16" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.password.placeholder' | translate}}" formControlName="clave" [ngClass]="{ 'is-invalid': f.clave.errors && (f.clave.dirty || f.clave.touched || submitted) }" />
          <div *ngIf="f.clave.errors && (f.clave.dirty || f.clave.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.clave.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.clave.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.clave.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.clave.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.clave.errors.minlength.requiredLength}}
            </div>
            <div *ngIf="f.clave.errors.pattern">
              {{'FORMS.VALIDATION.pattern' | translate | replaceAttribute: ':attribute': translatedLabel}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.password_confirmation.label' | translate as translatedLabel;">
          <label for="clave_confirmation" class="form-label">{{translatedLabel}} *</label>
          <input type="password" id="clave" maxlength="16" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.password_confirmation.placeholder' | translate}}" formControlName="clave_confirmation" [ngClass]="{ 'is-invalid': f.clave_confirmation.errors && (f.clave_confirmation.dirty || f.clave_confirmation.touched || submitted) }" />
          <div *ngIf="f.clave_confirmation.errors && (f.clave_confirmation.dirty || f.clave_confirmation.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="f.clave_confirmation.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="f.clave_confirmation.errors.maxlength">
              {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.clave_confirmation.errors.maxlength.requiredLength}}
            </div>
            <div *ngIf="f.clave_confirmation.errors.minlength">
              {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.clave_confirmation.errors.minlength.requiredLength}}
            </div>
            <div *ngIf="f.clave_confirmation.errors.pattern">
              {{'FORMS.VALIDATION.pattern' | translate | replaceAttribute: ':attribute': translatedLabel}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' | translate}}</button>
        <button type="button" class="btn btn-success"  *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' | translate}}</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->