<div class="modal-content" role="document">
  <div class="modal-header">
    <h5 class="modal-title font-bold fw-bold" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body modal-body-fullscreen-responsive">
    <div *ngIf="modeView == 'view'">

      <accordion [isAnimated]="true" [closeOthers]="false" class="mb-5">
        <accordion-group heading="DATOS DEL CLIENTE" [isOpen]="true" class="border border-primary rounded text-primary">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item text-info" href="javascript: void(0);" (click)="onEditItem('client')"><i
                  class="mdi mdi-pencil-outline"></i> Editar</a>
              <a class="dropdown-item text-danger d-none" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                Eliminar</a>
            </div>
          </div> <!-- end dropdown -->

          <div *ngIf="!dataClient?.persona_juridica">
            <div class="row gx-2">
              <div class="col-lg-6">
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2">
                  <strong>Tipo cliente:</strong>
                  <ng-container [ngSwitch]="dataClient?.tipo_cliente">
                    <ng-container *ngSwitchCase="'RE'">
                      <span>Particular</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ME'">
                      <span>Micro Empresa</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'PM'">
                      <span>PYMES</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CO'">
                      <span>Corporativo</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span>{{dataClient?.tipo_cliente}}</span>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2">
                  <strong>Nacionalidad:</strong> <span>{{dataPerson?.nacionalidad}}</span>
                </div>

                <div class="d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
                  <strong>Persona jurídica:</strong><span>{{dataClient?.persona_juridica? 'SI': 'NO'}}</span>
                </div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"><strong>Nombre:</strong>
                  <span>{{dataPerson?.nombres}}</span></div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"><strong>Apellidos:</strong>
                  <span>{{dataPerson?.apellido_paterno}} {{dataPerson?.apellido_materno}}</span></div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                  *ngFor="let identification of dataPerson?.identifications">
                  <strong>{{identification?.tipo_documentos_abreviacion}}:</strong>
                  <span>{{identification?.documento}}</span></div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2">
                  <strong>Fecha de nacimiento:</strong> <span>{{dataPerson?.fecha_nacimiento || 'S/N'}}</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                  *ngFor="let contact of dataPerson?.contacts">
                  <ng-container [ngSwitch]="contact?.tipo">
                    <ng-container *ngSwitchCase="'EML'">
                      <strong>Correo electrónico:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CEL'">
                      <strong>Celular:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'TEL'">
                      <strong>Teléfono:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'TEF'">
                      <strong>Teléfono fijo:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <strong>{{contact?.tipo}}:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="mt-4">
                  <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                    *ngFor="let bank_account of dataClient?.bank_accounts">
                    <strong>{{bank_account.type_bank_account?.nombre}}:</strong> <span>{{bank_account?.cuenta}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <h5 class="card-title font-size-13 mb-3 fw-bold">Direcciones del cliente</h5>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2" *ngFor="let address of listAddress">
                  <strong>Código postal ({{address.codigo_postal}}):</strong>
                  <span>{{address?.direccion_completo}}</span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="dataClient?.persona_juridica">
            <div class="row gx-2">
              <div class="col-lg-6">
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2">
                  <strong>Tipo cliente:</strong>
                  <ng-container [ngSwitch]="dataClient?.tipo_cliente">
                    <ng-container *ngSwitchCase="'RE'">
                      <span>Particular</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ME'">
                      <span>Micro Empresa</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'PM'">
                      <span>PYMES</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CO'">
                      <span>Corporativo</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span>{{dataClient?.tipo_cliente}}</span>
                    </ng-container>
                  </ng-container>
                </div>

                <div class="d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
                  <strong>Persona jurídica:</strong><span>{{dataClient?.persona_juridica? 'SI': 'NO'}}</span>
                </div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"><strong>Razón Social:</strong>
                  <span>{{dataCompany?.razon_social}}</span></div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"><strong>Nombre comercial:</strong>
                  <span>{{dataCompany?.nombre_comercial}}</span></div>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                  *ngFor="let identification of dataCompany?.identifications">
                  <strong>{{identification?.tipo_documentos_abreviacion}}:</strong>
                  <span>{{identification?.documento}}</span></div>
              </div>
              <div class="col-lg-6">
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                  *ngFor="let contact of dataCompany?.contacts">
                  <ng-container [ngSwitch]="contact?.tipo">
                    <ng-container *ngSwitchCase="'EML'">
                      <strong>Correo electrónico:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CEL'">
                      <strong>Celular:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'TEL'">
                      <strong>Teléfono:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'TEF'">
                      <strong>Teléfono fijo:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <strong>{{contact?.tipo}}:</strong> <span>{{contact?.contacto}}</span>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="mt-4">
                  <div class="d-flex justify-content-start gap-2 flex-wrap mb-2"
                    *ngFor="let bank_account of dataClient?.bank_accounts">
                    <strong>{{bank_account.type_bank_account?.nombre}}:</strong> <span>{{bank_account?.cuenta}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <h5 class="card-title font-size-13 mb-3 fw-bold">Direcciones del cliente</h5>
                <div class="d-flex justify-content-start gap-2 flex-wrap mb-2" *ngFor="let address of listAddress">
                  <strong>Código postal ({{address.codigo_postal}}):</strong>
                  <span>{{address?.direccion_completo}}</span>
                </div>
              </div>
            </div>
          </div>
        </accordion-group>
        <accordion-group heading="DIRECCIÓN DE LA INSTALACIÓN" class="border border-primary rounded text-primary mt-2"
          #accordionInstallation>
          <span accordion-heading class="float-end fs-5">
            <i class="mdi"
              [ngClass]="!accordionInstallation?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
          </span>
          <div class="col-md-12 mb-1">
            <ng-template [ngTemplateOutlet]="templateContainerInstallation"></ng-template>
          </div>
        </accordion-group>
      </accordion>


      <!-- CONTACTOS -->
      <ng-template #templateContainerContact>
        <div class="card card-body  mb-0">
          <h5 class="card-title font-size-13 mb-3">Contactos</h5>
          <ul class="verti-timeline list-unstyled">
            <ng-container *ngFor="let item of listContact; index as i">
              <ng-template [ngTemplateOutlet]="templateContact"
                [ngTemplateOutletContext]="{item:item, index: i}"></ng-template>
            </ng-container>
          </ul>
        </div>
      </ng-template>
      <ng-template #templateContact let-item="item" let-i="index">
        <li class="event-list pb-1" [ngClass]="{'active': item.is_primary == 1}">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item text-info" href="javascript: void(0);" (click)="onEditItem('contact', item)"><i
                  class="mdi mdi-pencil-outline"></i> Editar</a>
              <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                Eliminar</a>
            </div>
          </div> <!-- end dropdown -->
          <div class="event-timeline-dot">
            <i class="bx bxs-right-arrow-circle font-size-18" [ngClass]="{'bx-fade-right': item.is_primary == 1}"></i>
          </div>
          <div class="d-flex flex-wrap">
            <div class="flex-shrink-0 me-3">
              <h5 class="font-size-14 text-capitalize">{{item.tipo_text}} <i
                  class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
              </h5>
            </div>
            <div class="flex-grow-1">
              <div>
                {{item.contacto}}
              </div>
            </div>
          </div>
        </li>
      </ng-template>

      <!-- DIRECCIONES -->
      <ng-template #templateContainerAddress>
        <div class="card card-body mb-0">
          <h5 class="card-title font-size-13 mb-3">Direcciones</h5>
          <ul class="verti-timeline list-unstyled">
            <ng-container *ngFor="let item of listAddress; index as i">
              <ng-template [ngTemplateOutlet]="templateAddress"
                [ngTemplateOutletContext]="{item:item, index: i}"></ng-template>
            </ng-container>
          </ul>
        </div>
      </ng-template>
      <ng-template #templateAddress let-item="item" let-i="index">
        <li class="event-list pb-1" [ngClass]="{'active': item.is_primary == 1}">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item text-info" href="javascript: void(0);" (click)="onEditItem('address', item)"><i
                  class="mdi mdi-pencil-outline"></i> Editar</a>
              <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                Eliminar</a>
            </div>
          </div> <!-- end dropdown -->
          <div class="event-timeline-dot">
            <i class="bx bxs-right-arrow-circle font-size-18" [ngClass]="{'bx-fade-right': item.is_primary == 1}"></i>
          </div>
          <div class="d-flex flex-wrap">
            <div class="flex-shrink-0 me-3">
              <h5 class="font-size-13 text-capitalize">CP ({{item.codigo_postal}}) <i
                  class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
              </h5>
            </div>
            <div class="flex-grow-1">
              <div>
                {{item.direccion_completo}}
              </div>
            </div>
          </div>
        </li>
      </ng-template>

      <!-- DIRECCIONES -->
      <ng-template #templateContainerInstallation>
        <div class="card card-body mb-0">
          <h5 class="card-title font-size-13 mb-3">Instalaciones</h5>
          <ul class="verti-timeline list-unstyled">
            <ng-container *ngFor="let item of listInstallations; index as i">
              <ng-template [ngTemplateOutlet]="templateAddress"
                [ngTemplateOutletContext]="{item:item, index: i}"></ng-template>
            </ng-container>
          </ul>
        </div>
      </ng-template>
      <ng-template #templateInstallation let-item="item" let-i="index">
        <li class="event-list pb-1" [ngClass]="{'active': item.is_primary == 1}">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item text-info" href="javascript: void(0);" (click)="onEditItem('address', item)"><i
                  class="mdi mdi-pencil-outline"></i> Editar</a>
              <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                Eliminar</a>
            </div>
          </div> <!-- end dropdown -->
          <div class="event-timeline-dot">
            <i class="bx bxs-right-arrow-circle font-size-18" [ngClass]="{'bx-fade-right': item.is_primary == 1}"></i>
          </div>
          <div class="d-flex flex-wrap">
            <div class="flex-shrink-0 me-3">
              <h5 class="font-size-13 text-capitalize">CP ({{item.codigo_postal}}) <i
                  class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
              </h5>
            </div>
            <div class="flex-grow-1">
              <div>
                {{item.direccion_completo}}
              </div>
            </div>
          </div>
        </li>
      </ng-template>

      <!-- CUENTAS -->
      <ng-template #templateContainerBankAccount>
        <div class="card card-body mb-0">
          <h5 class="card-title font-size-13 mb-3">Cuentas bancarias</h5>
          <ul class="verti-timeline list-unstyled">
            <ng-container *ngFor="let item of listBankAccount; index as i">
              <ng-template [ngTemplateOutlet]="templateBankAccount"
                [ngTemplateOutletContext]="{item:item, index: i}"></ng-template>
            </ng-container>
          </ul>
        </div>
      </ng-template>
      <ng-template #templateBankAccount let-item="item" let-i="index">
        <li class="event-list pb-1" [ngClass]="{'active': item.is_primary == 1}">
          <div class="dropdown float-end" dropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item text-info" href="javascript: void(0);"
                (click)="onEditItem('bankAccount', item)"><i class="mdi mdi-pencil-outline"></i> Editar</a>
              <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                Eliminar</a>
            </div>
          </div> <!-- end dropdown -->
          <div class="event-timeline-dot">
            <i class="bx bxs-right-arrow-circle font-size-18" [ngClass]="{'bx-fade-right': item.is_primary == 1}"></i>
          </div>
          <div class="d-flex flex-wrap">
            <div class="flex-shrink-0 me-3">
              <h5 class="font-size-14 text-capitalize">{{item.tipo_cuentas_bancarias_nombre}} <i
                  class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
              </h5>
            </div>
            <div class="flex-grow-1">
              <div>
                {{item.cuenta}}
              </div>
            </div>
          </div>
        </li>
      </ng-template>


      
      <!-- DETALLE, DOCUMENTOS, COMENTARIO, HISTORIAL -->
      <strong class="text-primary mb-3 text-uppercase">Información de la venta</strong>
      <tabset [justified]="true" class="nav-tabs nav-tabs-custom nav-justified">
        <tab heading="Productos/Servicios">
          <ng-template [ngTemplateOutlet]="templateContainerDetail"></ng-template>
        </tab>
        <tab heading="Documentos">
          <ng-template [ngTemplateOutlet]="templateContainerDocument"></ng-template>
        </tab>
        <tab heading="Comentarios">
          <ng-template [ngTemplateOutlet]="templateContainerComment"></ng-template>
        </tab>
        <tab heading="Historial">
          <ng-template [ngTemplateOutlet]="templateContainerHistory"></ng-template>
        </tab>
      </tabset>


      <!-- DETALLE VENTA -->
      <ng-template #templateContainerDetail>
        <div class="row g-2 mt-2">
          <div class="col-lg-3" *ngFor="let typeServiceData of groupSaleDetail">            
            <div>
              <div class="card card-header rounded mb-2 py-2 bg-success" 
                [ngClass]="{
                  'bg-success': typeServiceData.typeService.toLocaleLowerCase().includes('movil'),
                  'bg-primary': typeServiceData.typeService.toLocaleLowerCase().includes('fija'),
                  'bg-warning': typeServiceData.typeService.toLocaleLowerCase().includes('tv'),
                  }">
                  <div class="d-flex justify-content-md-between">
                    <h5 class="text-white font-size-14 m-0">{{typeServiceData.typeService}}</h5>
                    <strong class="rounded-pill text-white bg-dark">{{typeServiceData?.details?.length}}</strong>
                  </div>
              </div>
  
              <div *ngFor="let item of typeServiceData?.details">
                <div class="card jobs-categories mb-2">
                  <div class="card-body p-0">
                    <a href="javascript:void(0);" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2"
                      [ngClass]="{'border border-danger': getRowDetailIsNullJson(item)}"
                      (click)="toggleVisibility(item)">{{item?.product?.nombre}}
                      <span accordion-heading class="float-end fs-5">
                        <i class="mdi"
                          [ngClass]="!item.visible ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                      </span>
                    </a>
                  </div>
                  <div class="card-body border border-info rounded" *ngIf="item.visible">
                    <div class="dropdown float-end" dropdown>
                      <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                        <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                        <a class="dropdown-item text-info" href="javascript: void(0);"
                          (click)="onEditItem('saleDetail', item); shareDataTypeService = item?.product?.type_service?.nombre"><i
                            class="mdi mdi-pencil-outline"></i> Editar</a>
                        <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                          Eliminar</a>
                      </div>
                    </div> <!-- end dropdown -->

                    <ng-container *ngTemplateOutlet="templateData; context: { $implicit: item }"></ng-container>
                    <div *ngIf="typeServiceData.typeService.toLocaleLowerCase().includes('movil')">
                      <ng-container *ngTemplateOutlet="templateMobile; context: { $implicit: item }"></ng-container>
                    </div>
                    <div *ngIf="typeServiceData.typeService.toLocaleLowerCase().includes('fija')">
                      <ng-container *ngTemplateOutlet="templateFixed; context: { $implicit: item }"></ng-container>
                    </div>
                    <div *ngIf="typeServiceData.typeService.toLocaleLowerCase().includes('tv')">
                      <ng-container *ngTemplateOutlet="templateTv; context: { $implicit: item }"></ng-container>
                    </div>
                    <!-- <ng-container *ngTemplateOutlet="templateInstallation; context: { $implicit: item }"></ng-container> -->
                    <div class="d-flex justify-content-md-between justify-content-start flex-wrap">
                      <button type="button" class="btn btn-sm btn-info">Comentarios</button>
                      <button type="button" class="btn btn-sm btn-primary">Documentos</button>
                      <button type="button" class="btn btn-sm btn-warning">Historial</button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!typeServiceData?.details?.length">
                <p class="text-center">Sin registros</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-2 mt-2 d-none">
          <div class="col-md-4">
            <div class="card card-header rounded mb-2 py-2 bg-primary ">
              <h5 class="text-white font-size-14 m-0">Linea fija</h5>
            </div>

            <div *ngFor="let item of groupSaleDetail?.fixed">
              <div class="card jobs-categories mb-2">
                <div class="card-body p-0">
                  <a href="javascript:void(0);" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2"
                    [ngClass]="{'border border-danger': getRowDetailIsNullJson(item)}"
                    (click)="toggleVisibility(item)">{{item?.servicios_nombre}}
                    <span accordion-heading class="float-end fs-5">
                      <i class="mdi"
                        [ngClass]="!item.visible ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>
                  </a>
                </div>
                <div class="card-body border border-info rounded mb-2" *ngIf="item.visible">
                  <div class="dropdown float-end" dropdown>
                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                      <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item text-info" href="javascript: void(0);"
                        (click)="onEditItem('saleDetail', item); shareDataTypeService = 'fixed'"><i
                          class="mdi mdi-pencil-outline"></i> Editar</a>
                      <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                        Eliminar</a>
                    </div>
                  </div> <!-- end dropdown -->
                  <ng-container *ngTemplateOutlet="templateData; context: { $implicit: item }"></ng-container>
                  <ng-container *ngTemplateOutlet="templateFixed; context: { $implicit: item }"></ng-container>
                  <ng-container *ngTemplateOutlet="templateInstallation; context: { $implicit: item }"></ng-container>
                </div>
              </div>
            </div>
            <div *ngIf="!groupSaleDetail?.fixed?.length">
              <p class="text-center">Sin registros</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-header rounded mb-2 py-2 bg-success ">
              <h5 class="text-white font-size-14 m-0">Linea Mobile</h5>
            </div>

            <div *ngFor="let item of groupSaleDetail?.mobile">
              <div class="card jobs-categories mb-2">
                <div class="card-body p-0">
                  <a href="javascript:void(0);" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2"
                    [ngClass]="{'border border-danger': getRowDetailIsNullJson(item)}"
                    (click)="toggleVisibility(item)">{{item?.servicios_nombre}}
                    <span accordion-heading class="float-end fs-5">
                      <i class="mdi"
                        [ngClass]="!item.visible ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>
                  </a>
                </div>
                <div class="card-body border border-info rounded" *ngIf="item.visible">
                  <div class="dropdown float-end" dropdown>
                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                      <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item text-info" href="javascript: void(0);"
                        (click)="onEditItem('saleDetail', item); shareDataTypeService = 'mobile'"><i
                          class="mdi mdi-pencil-outline"></i> Editar</a>
                      <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                        Eliminar</a>
                    </div>
                  </div> <!-- end dropdown -->
                  <ng-container *ngTemplateOutlet="templateData; context: { $implicit: item }"></ng-container>
                  <ng-container *ngTemplateOutlet="templateMobile; context: { $implicit: item }"></ng-container>
                  <ng-container *ngTemplateOutlet="templateInstallation; context: { $implicit: item }"></ng-container>
                </div>
              </div>
            </div>
            <div *ngIf="!groupSaleDetail?.mobile?.length">
              <p class="text-center">Sin registros</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-header rounded mb-2 py-2 bg-warning ">
              <h5 class="text-white font-size-14 m-0">Linea TV</h5>
            </div>

            <div *ngFor="let item of groupSaleDetail?.tv">
              <div class="card jobs-categories mb-2">
                <div class="card-body p-0">
                  <a href="javascript:void(0);" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2"
                    [ngClass]="{'border border-danger': getRowDetailIsNullJson(item)}"
                    (click)="toggleVisibility(item)">{{item?.servicios_nombre}}
                    <span accordion-heading class="float-end fs-5">
                      <i class="mdi"
                        [ngClass]="!item.visible ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>
                  </a>
                </div>
                <div class="card-body border border-info rounded" *ngIf="item.visible">
                  <div class="dropdown float-end" dropdown>
                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                      <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item text-info" href="javascript: void(0);"
                        (click)="onEditItem('saleDetail', item); shareDataTypeService = 'tv'"><i
                          class="mdi mdi-pencil-outline"></i> Editar</a>
                      <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                        Eliminar</a>
                    </div>
                  </div> <!-- end dropdown -->
                  <ng-container *ngTemplateOutlet="templateData; context: { $implicit: item }"></ng-container>
                  <ng-container *ngTemplateOutlet="templateInstallation; context: { $implicit: item }"></ng-container>
                </div>
              </div>
            </div>
            <div *ngIf="!groupSaleDetail?.tv?.length">
              <p class="text-center">Sin registros</p>
            </div>
          </div>
        </div>        
      </ng-template>


      <ng-template #templateMobile let-item>
        <div class="row g-2 mb-3" *ngIf="item.visible">
          <strong class="text-primary">Detalle del servicio</strong>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Tipo documento:</strong><span>{{item?.datos_json?.tipo_documento_abreviacion || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>N° Documento:</strong><span>{{item?.datos_json?.documento_titular || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Titular:</strong><span>{{item?.datos_json?.titular || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Operador donante:</strong><span>{{item?.datos_json?.operador_donante_nombre || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>N° Portar:</strong><span>{{item?.datos_json?.num_portar || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>CCI:</strong><span>{{item?.datos_json?.icc || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Terminal:</strong><span>{{item?.datos_json?.terminal? 'SI': 'NO'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Modelo terminal:</strong><span>{{item?.datos_json?.modelo_terminal || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>AOP:</strong><span>{{item?.datos_json?.aop || 'S/N'}}</span>
          </div>
        </div>
      </ng-template>

      <ng-template #templateFixed let-item>
        <div class="row g-2 mb-3" *ngIf="item.visible">
          <strong class="text-primary">Detalle del servicio</strong>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Tipo documento:</strong><span>{{item?.datos_json?.tipo_documento_abreviacion || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>N° Documento:</strong><span>{{item?.datos_json?.documento_titular || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Titular:</strong><span>{{item?.datos_json?.titular || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Operador donante:</strong><span>{{item?.datos_json?.operador_donante_nombre || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>N° Portar:</strong><span>{{item?.datos_json?.num_portar || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>AOP:</strong><span>{{item?.datos_json?.aop || 'S/N'}}</span>
          </div>
        </div>
      </ng-template>

      <ng-template #templateTv let-item>
        <div class="row g-2 mb-3" *ngIf="item.visible">
          <strong class="text-primary">Detalle del servicio</strong>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Deco:</strong><span>{{item?.datos_json?.deco || 'S/N'}}</span>
          </div>
        </div>
      </ng-template>

      <ng-template #templateData let-item>
        <div class="row g-2 mb-3" *ngIf="item.visible">
          <strong class="text-primary">Servicio</strong>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Servicio:</strong><span>{{item?.product?.nombre || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Tipo estado:</strong><span>{{item?.type_status?.nombre || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Fecha cierre:</strong><span>{{item?.fecha_cierre || 'S/N'}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Observación:</strong><span>{{item?.observacion || 'S/N'}}</span>
          </div>
        </div>
      </ng-template>

      <ng-template #templateInstallation let-item>
        <div class="row g-2" *ngIf="item.visible">
          <strong class="text-primary">Instalación</strong>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Instalación:</strong><span>{{item?.installation.direccion_completo}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Provincia:</strong><span>{{item?.installation.provincia}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Localidad:</strong><span>{{item?.installation.localidad}}</span>
          </div>
          <div class="col-md-6 d-flex flex-wrap column-gap-2 justify-content-start align-items-start mb-1">
            <strong>Código postal:</strong><span>{{item?.installation.codigo_postal}}</span>
          </div>
        </div>
      </ng-template>


      <!-- DOCUMENTOS -->
      <ng-template #templateContainerDocument>
        <div class="row g-2 mt-2">
          <div class="col-md-6" *ngFor="let item of listSaleDocument">
            <div class="card-body border border-info rounded p-2">
              <div class="dropdown float-end" dropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                  <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <a class="dropdown-item text-info" href="javascript: void(0);"><i class="mdi mdi-pencil-outline"></i>
                    Editar</a>
                  <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                    Eliminar</a>
                </div>
              </div> <!-- end dropdown -->
              <ng-container *ngTemplateOutlet="templateDocument; context: { $implicit: item }"></ng-container>
            </div>
          </div>
          <div *ngIf="!listSaleDocument?.length">
            <p class="text-start">Sin registros</p>
          </div>
        </div>
      </ng-template>
      <ng-template #templateDocument let-item>
        <div class="row g-2">
          <div class="col-sm-4">
            <img [src]="URL_FILES + item.archivo" alt="" class="rounded"
              style="width: 100%; max-height: 80px; object-fit: contain; object-position: center;"
              *ngIf="item.tipo == 'jpg' || item.tipo == 'jpeg' || item.tipo == 'png'">
            <div *ngIf="item.tipo !== 'jpg' && item.tipo !== 'jpeg' && item.tipo !== 'png'"
              class="w-100 bg-secondary rounded" style="height: 80px;">

            </div>
          </div>
          <div class="col-sm-8">
            <div class="h-100 d-flex flex-wrap justify-content-start align-items-center">
              <span class="w-100 d-block fw-semibold">{{item.nombre}} ({{item.tipo}})</span>
              <div class="text-start">
                <span class="blockquote-footer">{{item.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- COMENTARIOS -->
      <ng-template #templateContainerComment>
        <div class="row g-2 mt-2">
          <div class="col-md-12" *ngFor="let item of listSaleComment">
            <div class="card-body border border-info rounded p-2">
              <div class="dropdown float-end" dropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                  <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <a class="dropdown-item text-info" href="javascript: void(0);"><i class="mdi mdi-pencil-outline"></i>
                    Editar</a>
                  <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                    Eliminar</a>
                </div>
              </div> <!-- end dropdown -->
              <ng-container *ngTemplateOutlet="templateComment; context: { $implicit: item }"></ng-container>
            </div>
          </div>
          <div *ngIf="!listSaleComment?.length">
            <p class="text-start">Sin registros</p>
          </div>
        </div>
      </ng-template>
      <ng-template #templateComment let-item>
        <div *ngIf="item.comentario">
          <p [ngClass]="{'text-truncate-3': !item.more}">{{item.comentario}}</p>
          <b type="button" (click)="toggleCommentMore(item)">{{item.more? 'Menos': 'Más'}}</b>
        </div>
        <div class="text-end">
          <span class="blockquote-footer">{{item.created_at}}</span>
        </div>
      </ng-template>

      <!-- HISTORIAL -->
      <ng-template #templateContainerHistory>
        <div class="row g-2 mt-2">
          <div class="col-md-12" *ngFor="let item of listSaleHistory">
            <div class="card-body border border-info rounded p-2">
              <div class="dropdown float-end" dropdown>
                <a href="javascript: void(0);" class="dropdown-toggle arrow-none" dropdownToggle>
                  <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <a class="dropdown-item text-info" href="javascript: void(0);"><i class="mdi mdi-pencil-outline"></i>
                    Editar</a>
                  <a class="dropdown-item text-danger" href="javascript: void(0);"><i class="mdi mdi-trash-can"></i>
                    Eliminar</a>
                </div>
              </div> <!-- end dropdown -->
              <ng-container *ngTemplateOutlet="templateHistory; context: { $implicit: item }"></ng-container>
            </div>
          </div>
          <div *ngIf="!listSaleHistory?.length">
            <p class="text-start">Sin registros</p>
          </div>
        </div>
      </ng-template>
      <ng-template #templateHistory let-item>
        <span class="fw-semibold d-block w-100">{{item.tipo_estados_nombre}}</span>
        <div class="w-100" *ngIf="item.comentario">
          <p [ngClass]="{'text-truncate-3': !item.more}">{{item.comentario}}</p>
          <b type="button" (click)="toggleCommentMore(item)">{{item.more? 'Menos': 'Más'}}</b>
        </div>
        <div class="text-end">
          <span class="blockquote-footer">{{item.created_at}}</span>
        </div>
      </ng-template>

    </div>
    <div *ngIf="modeView == 'edit'">
      <!-- TIPO DE FORMULARIO A MOSTRAR -->
      <div [ngSwitch]="formEditLabel">
        <div *ngSwitchCase="'client'">
          <ng-template [ngTemplateOutlet]="tmpFormClient"></ng-template>
        </div>
        <div *ngSwitchCase="'contact'">
          <ng-template [ngTemplateOutlet]="tmpFormContact"></ng-template>
        </div>
        <div *ngSwitchCase="'address'">
          <ng-template [ngTemplateOutlet]="tmpFormAddress"></ng-template>
        </div>
        <div *ngSwitchCase="'bankAccount'">
          <ng-template [ngTemplateOutlet]="tmpFormBankAccount"></ng-template>
        </div>
        <div *ngSwitchCase="'saleDetail'">
          <ng-template [ngTemplateOutlet]="tmpFormSaleDetail"></ng-template>
        </div>
        <div *ngSwitchDefault>
          <p>Contenido por defecto (ninguna opción coincide)</p>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal"
        (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CLOSE' | translate}}</button>
      <button type="button" class="btn btn-secondary" (click)="changeModalView('view')"
        *ngIf="modeView == 'edit'">{{'MODALS.BUTTONS.BACK' | translate}}</button>
    </div>
  </div>
</div>



<!-- FORMULARIO CLIENTE -->
<ng-template #tmpFormClient let-data>
  <app-form-client></app-form-client>
</ng-template>

<!-- FORMULARIO CONTACTO -->
<ng-template #tmpFormContact>
  <app-form-client-contact [data]="shareDataForm" (submit)="getDataFormContact($event)"></app-form-client-contact>
</ng-template>

<!-- FORMULARIO DIRECCIÓN -->
<ng-template #tmpFormAddress>
  <app-form-client-address [data]="shareDataForm" (submit)="getDataFormAddress($event)"></app-form-client-address>
</ng-template>

<!-- FORMULARIO CUENTAS BANCARIA -->
<ng-template #tmpFormBankAccount>
  <app-form-client-bank-account [data]="shareDataForm"
    (submit)="getDataFormAddress($event)"></app-form-client-bank-account>
</ng-template>

<!-- FORMULARIO SERVICIOS -->
<ng-template #tmpFormSaleDetail>
  <app-form-sale-detail [data]="shareDataForm" [typeService]="shareDataTypeService"
    (submit)="getDataFormService($event)"></app-form-sale-detail>
</ng-template>


<!-- FORMULARIO INSTALACIÓN -->
<!-- FORMULARIO DOCUMENTO -->
<!-- FORMULARIO COMENTARIO -->
<!-- FORMULARIO HISTORIAL -->



<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModalEdit.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modalRefCurrent?.hide()"></button>
  </div>
  <div class="modal-body">
    ... EDITAR
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal"
        (click)="modalRefCurrent?.hide()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' |
        translate}}</button>
      <button type="button" class="btn btn-success" *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' |
        translate}}</button>
    </div>
  </div>
</ng-template>
<!--End Modal -->

<div bsModal #first="bs-modal" class="modal fade modal-opacity-in" id="firstModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="first.hide()"></button>
      </div>
      <div class="modal-body">
        <p>Show a second modal and hide this one with the button below.</p>
      </div>
      <div class="modal-footer">
        <!-- Toogle to second dialog -->
        <button class="btn btn-primary" data-bs-target="#content" data-bs-toggle="modal" data-bs-dismiss="modal"
          (click)="first.hide()">Open
          Second
          Modal</button>
      </div>
    </div>
  </div>
</div>