/* MODAL DENTRO DE OTRO MODAL */
.modal-opacity-in{
  background: #4d47473d;
}

/* Puedes ajustar este selector según la clase generada por PrimeNG */
.tabview-custom .p-tabview-title {
  font-size: 12px; /* Ajusta el tamaño de la fuente según tus preferencias */
}

/* Puedes aplicar estilos adicionales según tus necesidades */
.tabview-custom .p-tabview-panel {
  font-size: 12px;
}


.custom-virtual-scroller-header {
  font-size: 14px; /* or any other font size you prefer */
  /* Add other styles as needed */
  background-color: aquamarine;
  padding: 2px;
}

.custom-virtual-scroller-footer {
  font-size: 14px; /* or any other font size you prefer */
  /* Add other styles as needed */
}

.custom-virtual-scroller {
  font-size: 14px; /* or any other font size you prefer */
  /* Add other styles as needed */
}


.search-results-comments {
  max-height: 450px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

.content-editable{
  outline: 0;
  padding: 6px;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
  padding-right: 20px;

  // &:active,
  // &:hover{
  //   border: 1px solid #1362d8c6;
  // }
}