

.modal-body{
  max-height: 100ch;
  height: 100ch;

  @media (max-width: 987px){
    max-height: 100%;
    height: auto;
  }
  @media (max-width: 767px){
    max-height: 100%;
    height: auto;
    padding: 0 !important;
  }

}


.wizard{
  section{
    margin: 0 !important;
    padding: 0 !important;
  }
  .stepper-body{
    margin: 0 !important;
    padding: 0 !important;
  }
}