<div class="container-fluid">
  <app-page-title [title]="titleBreadCrumb" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex flex-wrap align-items-center gap-2">
            <h5 class="mb-0 card-title flex-grow-1">Listado</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Agregar nuevo</a>
              <a href="javascript:void(0);" (click)="listDataApi(true);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha creado</th>
                  <th scope="col">Fecha modificado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{data.nombre}}</td>
                  <td>{{data.sedes_nombre}}</td>
                  <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
                  <td>{{data.created_at}}</td>
                  <td>{{data.updated_at}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <ng-stepper #cdkStepper [linear]="true" class="wizard">
  
      <cdk-step [stepControl]="groupForm" [optional]="false">
        <ng-template cdkStepLabel>
          <span class="number">1.</span>
          <span>Grupo</span>
        </ng-template>
        <section *ngIf="cdkStepper.selectedIndex === 0">
          <form (keydown.enter)="$event.preventDefault()" [formGroup]="groupForm" autocomplete="off">
            <div class="row g-2">
              <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.campus.label' | translate as translatedLabel;">
                <label for="sedes_id" class="form-label">{{translatedLabel}} *</label>
                <select class="form-select custom-select" id="sedes_id" formControlName="sedes_id" [ngClass]="{ 'is-invalid': f.sedes_id.errors && (f.sedes_id.dirty || f.sedes_id.touched || submitted) }">
                  <option value="">{{'FORMS.FIELD_NAMES.campus.default_option' | translate}}</option>
                  <option *ngFor="let campus of listCampus" [value]="campus.id">{{campus.nombre}}</option>
                </select>
      
                <!-- <input type="text" id="apellido_materno" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.type_document.placeholder' | translate}}" formControlName="apellido_materno" [ngClass]="{ 'is-invalid': f.apellido_materno.errors && (f.apellido_materno.dirty || f.apellido_materno.touched || submitted) }" /> -->
                <div *ngIf="f.sedes_id.errors && (f.sedes_id.dirty || f.sedes_id.touched || submitted)" class="invalid-feedback" align="left">
                  <div *ngIf="f.sedes_id.errors.required">
                    {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                  </div>
                </div>
              </div>
              <div class="col-md-8 mb-3" *ngIf="'FORMS.FIELD_NAMES.title.label' | translate as translatedLabel;">
                <label for="nombre" class="form-label">{{translatedLabel}} *</label>
                <input type="text" id="nombre" class="form-control" focus="true" placeholder="{{'FORMS.FIELD_NAMES.title.placeholder' | translate}}" formControlName="nombre" [ngClass]="{ 'is-invalid': f.nombre.errors && (f.nombre.dirty || f.nombre.touched || submitted) }" />
                <div *ngIf="f.nombre.errors && (f.nombre.dirty || f.nombre.touched || submitted)" class="invalid-feedback" align="left">
                  <div *ngIf="f.nombre.errors.required">
                    {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                  </div>
                  <div *ngIf="f.nombre.errors.minlength">
                    {{ 'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': f.nombre.errors.minlength.requiredLength}}
                  </div>
                  <div *ngIf="f.nombre.errors.maxlength">
                    {{ 'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': f.nombre.errors.maxlength.requiredLength}}
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.description.label' | translate as translatedLabel;">
              <label for="descripcion" class="form-label">{{translatedLabel}}</label>
              <textarea id="descripcion" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.description.placeholder' | translate}}" formControlName="descripcion" [ngClass]="{ 'is-invalid': f.descripcion.errors && (f.descripcion.dirty || f.descripcion.touched || submitted)}"></textarea>
              <div *ngIf="f.descripcion.errors && (f.descripcion.dirty || f.descripcion.touched || submitted)" class="invalid-feedback" align="left">
                <div *ngIf="f['descripcion'].errors['required']">
                  {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                </div>
              </div>
            </div>
          </form>
          <ul class="list-inline wizard d-flex justify-content-end mb-0">
            <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>{{'FORMS.BUTTONS.PREV' | translate}}</button></li>
            <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext [disabled]="groupForm.invalid">{{'FORMS.BUTTONS.NEXT' | translate}}</button></li>
          </ul>
        </section>
      </cdk-step>
  
      <cdk-step [stepControl]="userSearchForm" [optional]="true">
        <ng-template cdkStepLabel>
          <span class="number">2.</span>
          <span>Integrantes</span>
        </ng-template>
        <section *ngIf="cdkStepper.selectedIndex === 1">
          <form (keydown.enter)="$event.preventDefault()" [formGroup]="userSearchForm" autocomplete="off">
            <div class="row g-2 d-none">
              <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_document.label' | translate as translatedLabel;">
                <label for="tipo_documentos_id" class="form-label">{{translatedLabel}} *</label>
                <select class="form-select custom-select" id="tipo_documentos_id" formControlName="tipo_documentos_id" [ngClass]="{ 'is-invalid': fs.tipo_documentos_id.errors && (fs.tipo_documentos_id.dirty || fs.tipo_documentos_id.touched || submitted) }">
                  <option value="">{{'FORMS.FIELD_NAMES.type_document.default_option' | translate}}</option>
                  <option *ngFor="let typeDocument of listDocuments" [value]="typeDocument.id">{{typeDocument.abreviacion}}</option>
                </select>
      
                <!-- <input type="text" id="apellido_materno" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.type_document.placeholder' | translate}}" formControlName="apellido_materno" [ngClass]="{ 'is-invalid': f.apellido_materno.errors && (f.apellido_materno.dirty || f.apellido_materno.touched || submitted) }" /> -->
                <div *ngIf="fs.tipo_documentos_id.errors && (fs.tipo_documentos_id.dirty || fs.tipo_documentos_id.touched || submitted)" class="invalid-feedback" align="left">
                  <div *ngIf="fs.tipo_documentos_id.errors.required">
                    {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.document.label' | translate as translatedLabel;">
                <label for="documento" class="form-label">{{translatedLabel}} *</label>
                <input type="text" maxlength="11" id="documento" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.document.placeholder' | translate}}" formControlName="documento" [ngClass]="{ 'is-invalid': fs.documento.errors && (fs.documento.dirty || fs.documento.touched || submitted) }" />
                <div *ngIf="fs.documento.errors && (fs.documento.dirty || fs.documento.touched || submitted)" class="invalid-feedback" align="left">
                  <div *ngIf="fs.documento.errors.required">
                    {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                  </div>
                  <div *ngIf="fs.documento.errors.maxlength">
                    {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': fs.documento.errors.maxlength.requiredLength}}
                  </div>
                  <div *ngIf="fs.documento.errors.minlength">
                    {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': fs.documento.errors.minlength.requiredLength}}
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="'FORMS.FIELD_NAMES.search.label' | translate as translatedLabel;">
                <label for="search" class="form-label">{{translatedLabel}} *</label>
                <div class="input-group">
                  <input type="text" maxlength="11" id="search" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.search.placeholder' | translate}}" formControlName="search" [ngClass]="{ 'is-invalid': fs.search.errors && (fs.search.dirty || fs.search.touched || submitted) }" />
                  <button class="btn btn-primary"  [disabled]="userSearchForm.invalid">{{'FORMS.BUTTONS.SEARCH' | translate}}</button>
                </div>
                <div *ngIf="fs.search.errors && (fs.search.dirty || fs.search.touched || submitted)" class="invalid-feedback" align="left">
                  <div *ngIf="fs.documento.errors.required">
                    {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
                  </div>
                  <div *ngIf="fs.search.errors.maxlength">
                    {{'FORMS.VALIDATION.maxlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':maxlength': fs.search.errors.maxlength.requiredLength}}
                  </div>
                  <div *ngIf="fs.search.errors.minlength">
                    {{'FORMS.VALIDATION.minlength' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':minlength': fs.search.errors.minlength.requiredLength}}
                  </div>
                </div>
              </div>
            </div>
          </form> 

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Lista de usuarios</h4>
              <p class="card-sub-title">
                Seleccione a los integrantes del grupo.
              </p>
              <div class="row mb-md-2">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="tickets-table_length"><label
                    class="d-inline-flex align-items-center">Mostrar
                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                      [(ngModel)]="perPage" class="form-control form-control-sm mx-2" (change)="getPageDataTable()">
                      <option *ngFor="let count of countElements;" [ngValue]="count">{{count}}</option>
                    </select> elementos</label>
                  </div>
                </div>
                <!-- Search -->
                <div class="col-sm-12 col-md-6">
                  <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                      class="d-inline-flex align-items-center">Buscar:
                      <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                        aria-controls="tickets-table" [(ngModel)]="search" (input)="getPageDataTable()"></label>
                  </div>
                </div>
                <!-- End search -->
              </div>

              <!-- Table -->
              <div class="table-responsive">
                <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
                  <thead>
                    <tr>
                      <th style="width: 20px;">
                        <div class="form-check font-size-16 align-middle">
                          <input class="form-check-input" type="checkbox" id="transactionCheck01"  [(ngModel)]="selectAll" (change)="toggleAllSelection()">
                          <label class="form-check-label" for="transactionCheck01"></label>
                        </div>
                      </th>
                      <th scope="col">N°</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Tipo Doc.</th>
                      <th scope="col">N° Doc.</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Tipo de usuario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of pagination.data; let i = index"  id="o_{{data.id}}">
                      <td>
                        <div class="form-check font-size-16">
                          <input class="form-check-input" type="checkbox" id="transactionCheck{{data.id}}" value="{{data.id}}" 
                          [checked]="getCheckedRowUser(data.id)"
                          (change)="toggleSelection(data)">
                          <label class="form-check-label" for="transactionCheck{{data.id}}"></label>
                        </div>
                      </td>
                      <th scope="row">{{i + 1}}</th>
                      <td>{{data.nombres}}</td>
                      <td>{{data.apellido_paterno}} {{data.apellido_materno}}</td>
                      <td>{{data.tipo_documentos_abreviacion}}</td>
                      <td>{{data.documento}}</td>
                      <td>{{data.nombre_usuario}}</td>
                      <td>{{data.tipo_usuarios_nombre}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 

              <!-- End table -->
              <div class="row justify-content-md-between align-items-md-center mt-2">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    Mostrando de 
                    <b>{{pagination.from}}</b> al
                    <b>{{pagination.to}}</b> de <b>{{pagination.total}}</b>
                    elementos
                  </div>
                </div>
                <!-- Pagination -->
                <div class="col-sm-12 col-md-5">
                  <div class="text-md-right float-md-end pagination-rounded">
                    <pagination [totalItems]="pagination.total" [(ngModel)]="page" previousText="Anterior" nextText="Siguiente"></pagination>
                  </div>
                </div>
                <!-- End Pagination -->
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <!-- <div class="card card-body d-none">
            <ul>
              <li *ngFor="let user of listUsers | paginate: { itemsPerPage: 10, currentPage: p }">{{ user.nombre_usuario }}</li>
            </ul>
        
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>  -->
          <!-- End pagination -->

          <!-- Data table -->
          <!-- <div>
            <input type="text" [(ngModel)]="filter" placeholder="Search...">
            <ngx-datatable class="bootstrap-5" 
              [rows]="rows" 
              [columns]="columns" 
              [loadingIndicator]="loadingIndicator"
              [itemsPerPageOptions]="[10, 25, 50, 100]"
              [reorderable]="reorderable" 
              [externalSorting]="true" 
              [sorts]="sorts" 
              [count]="count" 
              [offset]="offset" 
              [limit]="limit" 
              (page)="onPage($event)" 
              (sort)="onSort($event)">
              <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
              <ngx-datatable-column name="Usuario" prop="nombre_usuario"></ngx-datatable-column>
              <ngx-datatable-column name="Nombres" prop="personas_nombres"></ngx-datatable-column>
              <ngx-datatable-column name="Apellido paterno" prop="personas_apellido_paterno"></ngx-datatable-column>
              <ngx-datatable-column name="Apellido materno" prop="personas_apellido_materno"></ngx-datatable-column>
            </ngx-datatable>
            <pagination-controls (pageChange)="onPage($event)" [maxSize]="7" [directionLinks]="true" [autoHide]="false"></pagination-controls>
          </div> -->
          <ul class="list-inline wizard d-flex justify-content-end mb-0">
            <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>{{'FORMS.BUTTONS.PREV' | translate}}</button></li>
            <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext (click)="processingMemberGroup()" [disabled]="!listUserSelected.length">{{'FORMS.BUTTONS.NEXT' | translate}}</button></li>
          </ul>
        </section>
      </cdk-step>
  
      <cdk-step [optional]="true">
        <ng-template cdkStepLabel>
          <span class="number">3.</span>
          <span>Detalle del grupo</span>
        </ng-template>
        <section *ngIf="cdkStepper.selectedIndex === 2">
          <div>
            
          </div>
          <div class="card">
            <div class="card-body">
              <div class="mb-2 d-flex flex-row flex-wrap gap-2 justify-content-start align-items-center">
                <h5 class="card-title">Nombre del grupo:</h5>
                <span class="card-sub-title">{{f.nombre.value}}</span>
              </div>
              <div class="mb-2 d-flex flex-row flex-wrap gap-2 justify-content-start align-items-center">
                <h5 class="card-title">Descripción:</h5>
                <p class="card-sub-title">{{f.descripcion.value}}</p>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Lista de usuarios</h4>
              <p class="card-sub-title">
                Integrantes seleccionados
              </p>
              <!-- Table -->
              <div class="table-responsive">
                <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
                  <thead>
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Tipo Doc.</th>
                      <th scope="col">N° Doc.</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Tipo de usuario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of listUserSelected; let i = index"  id="o_{{data.id}}">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{data.nombres}}</td>
                      <td>{{data.apellido_paterno}} {{data.apellido_materno}}</td>
                      <td>{{data.tipo_documentos_abreviacion}}</td>
                      <td>{{data.documento}}</td>
                      <td>{{data.nombre_usuario}}</td>
                      <td>{{data.tipo_usuarios_nombre}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
  
          <ul class="list-inline wizard d-flex justify-content-end mb-0">
            <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>{{'FORMS.BUTTONS.PREV' | translate}}</button></li>
            <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>{{'FORMS.BUTTONS.NEXT' | translate}}</button></li>
          </ul>
        </section>
      </cdk-step>
  
      <cdk-step [optional]="true">
        <ng-template cdkStepLabel>
          <span class="number">4.</span>
          <span>Confirmar proceso</span>
        </ng-template>
        <section *ngIf="cdkStepper.selectedIndex === 3">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="text-center">
                <div class="mb-4">
                  <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                </div>
                <div>
                  <h5>Confirmar registro del grupo</h5>
                  <p class="text-muted">Para confirmar el registro del grupo, hacer clic en Finalizar</p>
                </div>
              </div>
            </div>
          </div>
  
          <ul class="list-inline wizard d-flex justify-content-end mb-0">
            <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>{{'FORMS.BUTTONS.PREV' | translate}}</button></li>
            <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-success" cdkStepperNext (click)="saveData()">{{'FORMS.BUTTONS.END' | translate}}</button></li>
          </ul>
        </section>
      </cdk-step>
  
    </ng-stepper>
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CLOSE' | translate}}</button>
      <!-- <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' | translate}}</button>
      <button type="button" class="btn btn-success"  *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' | translate}}</button> -->
    </div>
  </div>
</ng-template>
<!--End Modal -->