
.card-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 102, 255);
}


  .card_anuncio {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    width: 600px;
    display: grid;
    place-items: center;
  
    img {
      position: relative;
      top: -15px; /* ajustar los valores para mover la imagen */
      left: -5px;
      width: 550px;
      height: 550px;
      border-radius: 7.5%;
      margin: 5%;
      border:2px solid #fff;
      display: block;
  
    }
  
    .titulo {
      font-size: 25px;
      font-weight: bold;
      margin-top: 8px;
    }
  
    .descripcion {
      font-size: 14px;
      margin-top: 8px;
    }
  }


  
  .card-container {
  
    max-width: 100%;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
  
  img {
  
    display: block;
    width: 80%;
    margin: auto;
    height: auto;
  }

.view {
  height: 100vh;
}
