<div class="container-fluid">
  <app-page-title [title]="titleBreadCrumb" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="module-container">
    <table class="table">
      <thead>
         <tr>
           <th>Componente</th>
           <th>Descripcion</th>
           <th>Ver</th>
           <th>Crear</th>
           <th>Editar</th>
           <th>Eliminar</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let permission of permissions">
           <td>{{permission.name}}</td>
           <td>{{permission.description}}</td>
           <td *ngIf="canRead(permission)">  <input class="form-check-input position-static" type="checkbox"  value="option1" aria-label="..."></td>
           <td *ngIf="canCreate(permission)"> <input class="form-check-input position-static" type="checkbox"  value="option1" aria-label="..."></td>
           <td *ngIf="canWrite(permission)"> <input class="form-check-input position-static" type="checkbox"  value="option1" aria-label="..."></td>
           <td *ngIf="canDelete(permission)"> <input class="form-check-input position-static" type="checkbox"  value="option1" aria-label="..."></td>
         </tr>
      </tbody>
     </table>
   </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex flex-wrap align-items-center gap-2">
            <h5 class="mb-0 card-title flex-grow-1">Listado</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Agregar nuevo</a>
              <a href="javascript:void(0);" (click)="listDataApi(true);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Permiso_id</th>
                  <th scope="col">Tipo de Usuario Id</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha creado</th>
                  <th scope="col">Fecha modificado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{data.permisos_id}}</td>
                  <td>{{data.tipo_usuarios_id}}</td>
                  <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
                  <td>{{data.created_at}}</td>
                  <td>{{data.updated_at}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="!lists.length"><td colspan="7" class="text-center">Sin registros.</td></tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="typeUserPermissionForm" autocomplete="off">
    <div class="modal-body">
      <input type="hidden" name="id" value="" formControlName="id" />
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.permission_id.label' | translate as translatedLabel;">
        <label for="permisos_id" class="form-label">{{translatedLabel}}</label>
        <input type="text" id="permisos_id" class="form-control" focus="true" placeholder="{{'FORMS.FIELD_NAMES.permission_id.placeholder' | translate}}" formControlName="permisos_id" [ngClass]="{ 'is-invalid': form['permisos_id'].errors && (form.permisos_id.dirty || form.permisos_id.touched || submitted) }" />
        <div *ngIf="form['permisos_id'].errors && (form.permisos_id.dirty || form.permisos_id.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['permisos_id'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>
      <input type="hidden" name="id" value="" formControlName="id" />
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.type_user_id.label' | translate as translatedLabel;">
        <label for="tipo_usuarios_id" class="form-label">{{translatedLabel}}</label>
        <input type="text" id="tipo_usuarios_id" class="form-control" focus="true" placeholder="{{'FORMS.FIELD_NAMES.type_user_id.placeholder' | translate}}" formControlName="tipo_usuarios_id" [ngClass]="{ 'is-invalid': form['tipo_usuarios_id'].errors && (form.tipo_usuarios_id.dirty || form.tipo_usuarios_id.touched || submitted) }" />
        <div *ngIf="form['tipo_usuarios_id'].errors && (form.tipo_usuarios_id.dirty || form.tipo_usuarios_id.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['tipo_usuarios_id'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' | translate}}</button>
        <button type="button" class="btn btn-success"  *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' | translate}}</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->
