<div class="container-fluid">
  <app-page-title [title]="titleBreadCrumb" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex flex-wrap align-items-center gap-2">
            <h5 class="mb-0 card-title flex-grow-1">Listado</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal(content)">Agregar nuevo</a>
              <a href="javascript:void(0);" (click)="apiProductListPagination();" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <h4 class="card-title">Lista de productos</h4>
          <p class="card-sub-title">
            Productos registrados hasta el momento
          </p>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                class="d-inline-flex align-items-center">Mostrar
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                  [(ngModel)]="perPage" class="form-control form-control-sm mx-2" (change)="apiProductListPagination()">
                  <option *ngFor="let count of countElements;" [ngValue]="count">{{count}}</option>
                </select> registros</label>
              </div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="search" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="search" (input)="apiProductListPagination()"></label>
              </div>
            </div>
            <!-- End search -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="type-document-list">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Tipo de servicio</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Moneda</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha creado</th>
                  <th scope="col">Fecha modificado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{data.tipo_servicios_nombre}}</td>
                  <td>{{data.nombre}}</td>
                  <td>{{data.descripcion}}</td>
                  <td>{{data.tipo_monedas_nombre}}</td>
                  <td>{{data.precio}}</td>
                  <td><span class="badge text-md" [ngClass]="{ 'bg-success': data.is_active == 1, 'bg-danger': data.is_active == 0}">{{data.is_active? 'Activo': 'Inactivo'}}</span></td>
                  <td>{{data.created_at}}</td>
                  <td>{{data.updated_at}}</td>
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="deleteRow(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="!lists.length"><td colspan="9" class="text-center">Sin registros.</td></tr>
              </tbody>
            </table>
          </div>

          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Mostrando de 
                <b>{{pagination.from}}</b> al
                <b>{{pagination.to}}</b> de <b>{{pagination.total}}</b>
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-6">
              <div class="text-md-right float-md-end pagination-rounded">
                <pagination previousText="Anterior" nextText="Siguiente"  [totalItems]="total" [(ngModel)]="page" [itemsPerPage]="perPage" (pageChanged)="getPage($event)"></pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FORMULARIO -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{dataModal.title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef?.hide()"></button>
  </div>
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="productForm" autocomplete="off">
    <div class="modal-body">
      <input type="hidden" name="id" value="" formControlName="id" />
     
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.category.label' | translate as translatedLabel;">
        <label for="categorias_id" class="form-label">{{translatedLabel}} *</label>
        <ng-select id="categorias_id" formControlName="categorias_id" [ngClass]="{ 'is-invalid': form.categorias_id.errors && (form.categorias_id.dirty || form.categorias_id.touched || submitted) }">
          <ng-option [value]="''">{{'FORMS.FIELD_NAMES.category.default_option' | translate}}</ng-option>
          <ng-option *ngFor="let category of listCategories" [value]="category.id">{{category.nombre}}</ng-option>
        </ng-select>
        <div *ngIf="form.categorias_id.errors && (form.categorias_id.dirty || form.categorias_id.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form.categorias_id.errors.required">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
          <div *ngIf="form.categorias_id.errors.min">
            {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.categorias_id.errors.min.requiredLength}}
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_service.label' | translate as translatedLabel;">
          <label for="tipo_servicios_id" class="form-label">{{translatedLabel}} *</label>
          <ng-select id="tipo_servicios_id" formControlName="tipo_servicios_id" [ngClass]="{ 'is-invalid': form.tipo_servicios_id.errors && (form.tipo_servicios_id.dirty || form.tipo_servicios_id.touched || submitted) }">
            <ng-option [value]="''">{{'FORMS.FIELD_NAMES.category.default_option' | translate}}</ng-option>
            <ng-option *ngFor="let service of listServices" [value]="service.id">{{service.nombre}}</ng-option>
          </ng-select>
          <div *ngIf="form.tipo_servicios_id.errors && (form.tipo_servicios_id.dirty || form.tipo_servicios_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.tipo_servicios_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.tipo_servicios_id.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.tipo_servicios_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.brand.label' | translate as translatedLabel;">
          <label for="marcas_id" class="form-label">{{translatedLabel}} *</label>
          <ng-select id="marcas_id" formControlName="marcas_id" [ngClass]="{ 'is-invalid': form.marcas_id.errors && (form.marcas_id.dirty || form.marcas_id.touched || submitted) }">
            <ng-option [value]="''">{{'FORMS.FIELD_NAMES.brand.default_option' | translate}}</ng-option>
            <ng-option *ngFor="let brand of listBrands" [value]="brand.id">{{brand.nombre}}</ng-option>
          </ng-select>
          <div *ngIf="form.marcas_id.errors && (form.marcas_id.dirty || form.marcas_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.marcas_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.marcas_id.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.marcas_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.name.label' | translate as translatedLabel;">
        <label for="nombre" class="form-label">{{translatedLabel}} *</label>
        <input type="text" id="nombre" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.name.placeholder' | translate}}" formControlName="nombre" [ngClass]="{ 'is-invalid': form['nombre'].errors && (form.nombre.dirty || form.nombre.touched || submitted) }" />
        <div *ngIf="form['nombre'].errors && (form.nombre.dirty || form.nombre.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['nombre'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="'FORMS.FIELD_NAMES.description.label' | translate as translatedLabel;">
        <label for="descripcion" class="form-label">{{translatedLabel}}</label>
        <textarea id="descripcion" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.description.placeholder' | translate}}" formControlName="descripcion" [ngClass]="{ 'is-invalid': form['descripcion'].errors && (form.descripcion.dirty || form.descripcion.touched || submitted)}"></textarea>
        <div *ngIf="form.descripcion.errors && (form.descripcion.dirty || form.descripcion.touched || submitted)" class="invalid-feedback" align="left">
          <div *ngIf="form['descripcion'].errors['required']">
            {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.type_currency.label' | translate as translatedLabel;">
          <label for="tipo_monedas_id" class="form-label">{{translatedLabel}} *</label>
          <ng-select id="tipo_monedas_id" formControlName="tipo_monedas_id" [ngClass]="{ 'is-invalid': form.tipo_monedas_id.errors && (form.tipo_monedas_id.dirty || form.tipo_monedas_id.touched || submitted) }">
            <ng-option [value]="''">{{'FORMS.FIELD_NAMES.type_currency.default_option' | translate}}</ng-option>
            <ng-option *ngFor="let currency of listCurrencies" [value]="currency.id">{{currency.nombre}}</ng-option>
          </ng-select>
          <div *ngIf="form.tipo_monedas_id.errors && (form.tipo_monedas_id.dirty || form.tipo_monedas_id.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.tipo_monedas_id.errors.required">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.tipo_monedas_id.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.tipo_monedas_id.errors.min.requiredLength}}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="'FORMS.FIELD_NAMES.price.label' | translate as translatedLabel;">
          <label for="precio" class="form-label">{{translatedLabel}}</label>
          <input type="text" id="precio" class="form-control" placeholder="{{'FORMS.FIELD_NAMES.price.placeholder' | translate}}" formControlName="precio" [ngClass]="{ 'is-invalid': form.precio.errors && (form.precio.dirty || form.precio.touched || submitted) }" />
          <div *ngIf="form.precio.errors && (form.precio.dirty || form.precio.touched || submitted)" class="invalid-feedback" align="left">
            <div *ngIf="form.precio.errors['required']">
              {{'FORMS.VALIDATION.required' | translate | replaceAttribute:':attribute': translatedLabel}}
            </div>
            <div *ngIf="form.precio.errors.min">
              {{'FORMS.VALIDATION.min' | translate | replaceAttribute: ':attribute': translatedLabel | replaceAttribute: ':min': form.precio.errors.min.requiredLength}}
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalRef?.hide()">{{'MODALS.BUTTONS.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-info" *ngIf="!isNewData" (click)="saveData()">{{'MODALS.BUTTONS.UPDATE' | translate}}</button>
        <button type="button" class="btn btn-success"  *ngIf="isNewData" (click)="saveData()">{{'MODALS.BUTTONS.ADD' | translate}}</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->